<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="Tickets" connectionString="Server=localhost;Database=TicketsDb;Trusted_Connection=True;"/>
    </connectionStrings>
    <appSettings>
        <add key="SerializationPath" value=".\storage.dat"/>
    </appSettings>
</configuration>